/*По умолчанию*/


@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('../fonts/MuseoSansCyrl-100.otf'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.otf'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../fonts/MuseoSansCyrl-900.otf'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Natasha';
  src: url('../fonts/Natasha.otf'); /* IE9 Compat Modes */
  src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}

	
body, div, h1, h2, h3, h4, h5, p, ul, li, span, button,nav {
	font-family: MuseoSansCyrl-300, Arial, san-serif;
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-family: 'Natasha', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 37px;
}

h3 {
	font-size: 22px;
}

h1, h4, h5, {
	font-family: Natasha, Arial, sans-serif;
	text-transform: uppercase;
}
ul li, input, button {
	display: block;
}

ul li {
	list-style-type: none;
}

header, div, p, h1, h2, h3, h4, span, ul, li, button, input, form {
	box-sizing: border-box;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding:0;
}
.d-flex  {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
}

a  {
	text-decoration: none;
}



/* Шапка сайта*/

header {
	background: url('../img/header.png')no-repeat top center/cover;
	padding-top: 56px;
	padding-bottom: 80px;

}

.offer {
	margin-top: 300px;
}

 .logo {
 	margin-right: 180px;
 	margin-left: 0px;
 	
 }
 .logo a{
 	text-decoration: none;
	font-size: 17px;
    font-family: MuseoSansCyrl-900;
    text-transform: uppercase;
    color: white;
 }

 .header__logo_font {
 	font-family: MuseoSansCyrl-100;
 	font-size: 17px;
 	font-weight: normal;
 }

 .menu__link {
	margin-right:48px;
	justify-content: center;
	-webkit-justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
    font-family: MuseoSansCyrl-900;
    color: white;
}

.e-mail {
	text-decoration: none;
	border-bottom: 1px solid grey;
	color: white;
	margin-left: 140px;
	height: 20px;
	display: flex;
	flex-wrap: wrap;
}

.offer__title {
	font: bold 49px 'Natasha';
	text-transform: uppercase;
	color: white;
	letter-spacing: 5px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
}

.offer__frontend {
	font: 29px 'MuseoSansCyrl-100';
	text-transform: uppercase;
	color: white;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
    margin-bottom: 239px;
}

.offer__arrow {
	margin: 0 auto;
	width: 35px;
	height: 35px;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	color: white;
    cursor: pointer;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 5s ease;
    color: white;
	font-size: 18px;
	line-height: 1.6;
}

.offer__arrow:hover {
	background: rgba(255,255,255, 0.2);
}

/*Первая секция*/

#about {
	padding-top: 77px;
}

.about-title {
	margin-bottom: 85px;
	color: #22241b;
}

.about {
	align-items: flex-start;
}

.about__wrap {
	width: 460px;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
}

.background {
	width: 425px;
	margin-right: 50px;
	margin-left: 0px;
	box-sizing: border-box;
}

.background__title {
	margin-bottom: 47px;
	color: #6d6f69;
}

.background__text {
	margin-bottom: 40px;
	font-family: 'MuseoSansCyrl-300';
	font-size: 15px;
	line-height: 1.6em;
}

.merit-title {
	margin-bottom:70px;
	width: 100%;
	color: #6d6f69;
}

.merit-wrap {
	width: 100%;
	justify-content: space-around;
}

.merit__project_first {
	width: 73.5px;
	height: 73.5px;
	border: 1px solid #3d6433;
	padding: 7px;
	text-align: center;
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
	margin: 0px auto;
}

.merit__project_second {
	width: 58px;
	height: 58px;
	border: 1px solid #cddbc1;	
}

.span_text {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    writing-mode: tb-rl;
    font-size: 20px;
    line-height: 58px;
    height: 58px;
}

.merit__text {
	font: 12px 'MuseoSansCyrl-100';
	width: 110px;
	text-transform: uppercase;
	margin: 31px 0px 0px 5px;
	text-align: center;
	line-height: 1.4em;
}

.connection {
	width: 182px;
	margin-top: 68px;
	flex-wrap: wrap;
}

.links {
	width: 140px;
}

.connection-title {
	margin-bottom: 40px;
	color: #6d6f69;
}

.links__element {
	margin-bottom: 10px;
	letter-spacing: 0.1em;
}

.link {
	font: 14px 'MuseoSansCyrl-300';
	color: #204d15;
}

.link:hover {
	border-bottom: 1px solid grey;
	padding-bottom: 2px;
}

.connection-user {
	align-items: center;
	margin-top: 137px;
}

.connection-user__item {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #eef1ed;
}

.user {
	margin: 15px 21px;
}

.connection-user__text {
	font: 14px 'MuseoSansCyrl-300';
	margin-left: 21px;
}
  
/*Вторая секция*/

#skills {
	padding-top: 60px;
}

.skills-title {
	margin-bottom: 60px;
	font: 37px Natasha;
	color: #22241b;
}

.skills__level {
	flex-basis: 220px;
	align-items: center;
}

.skills__num {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #3d6433;
	padding: 6px;
	align-items: center;
}

.skills__circle {
	font: 13px 'MuseoSansCyrl-100';
	width: 46px;
	height: 46px;
	border-radius: 50%;
	border: 1px solid grey;
	text-align: center;
	line-height: 46px;
}

.skills__text {
	margin-left: 30px;
	font:  15px 'MuseoSansCyrl-900';
	color: #4b4c47;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

/*Третия секция*/

#projects {
	padding-top: 80px;
}

.projects-title {
	font: 37px 'Natasha';
	margin-bottom: 60px;
	color: #22241b;
}


.projects__mount {
	flex-basis: 300px;
	flex-wrap: wrap;
	height: 299px;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-right: 13px;
}

.projects__overlay {
	visibility: hidden;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
	width: 100%;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.projects__text {
	color: #fff;
	font-size: 15px;
	font-family: 'MuseoSansCyrl-900';
	text-transform: uppercase;
}

.projects__mount:hover .projects__overlay {
	visibility: visible;
	height: 100%;
}

.projects__overlay a {
	font: 13px 'Museo Sans Cyrl 300', sans-serif;
	color: #fff;
	padding-bottom: 3px;
	border-bottom: 1px solid #858687;
} 

/*Подвал сайта*/

footer {
	padding: 125px 0px 100px 0px;
}

.future {
	font: normal 11px MuseoSansCyrl-300;
	color: #888886;
}
 
