/*Мобильная версия сайта*/

@media screen and (max-width:992px) {
	nav {
		display: none;
	}

	header {
		background: #717b7a url('../img/header.png')no-repeat top center/cover;
		padding-top: 50px;
	}

	.container {
		width: 720px;
	}

	.hat-wraper {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.e-mail {
		display: block;
		margin-left: 0;
		border: none;
		text-align: center;
	}

	.logo {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.offer {
		margin-top: 100px;
	}

	.offer__title {
		font-size: 45px;
	}

	.offer__frontend {
		margin-bottom: 150px;
	}

	.skills__level {
		flex-basis: 245px;
		margin-bottom: 20px;
	}

	h2, h3 {
		text-align: center;
	}

	.background {
		margin-right: 0;
	}

	.about {
		justify-content: center;
	}

	.skills {
		justify-content: center;
	}

	.skills-title {
		text-align: center;
	}

	.projects-title {
		text-align: center;
	}	

	.projects:last-child {
		justify-content: center;
	}
	.projects__mount_right {
		margin-top: 15px;
	}

	.future {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	
	.container {
		width: 540px;
		justify-content: center;
	}

	.offer__title {
		line-height: 1.5em;
	}

	.projects {
		justify-content: center;
	}

	.projects__mount {
		margin-right: 0px;
		margin-bottom: 15px;
	}

}

@media screen and (max-width:576px) {

	.container {
		width: 90%;
	}

	.offer__title {
		font-size: 40px;
	}

	.offer__frontend {
		margin-bottom: 100px;
	}

	.background {
		width: 90%;
		justify-content: center;
		flex-wrap: wrap;
	}

	.background__text {
		flex-wrap: wrap;
	}

	.merit-wrap {
		flex-direction: column;
		align-items: center;
	}

	.merit__text {
		margin-bottom: 30px;
	}

	.about__wrap {
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}

	.merit {
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-left: 37%;
		margin-bottom: 20px;
	}

	.connection {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.connection-user {
		margin: 60px auto 10px auto;;
	}

	.links {
		margin: 0 auto;
	}
	 
	 #skills {
		display: flex;
	}

	.skills__level {
		align-items: center;
		margin-bottom: 20px;
	}
	
	.projects {
		justify-content: center;
		left: 0%;
		top: 0%;
	}

	.projects__mount {
		flex-basis: 100%;
		margin-bottom: 10px;
	}

	.projects__overlay {
		left: 50%;
		margin-left: -150px;
		width: 300px;
	}
}

@media screen and (max-width:400px) {

	.offer {
		margin-top: 50px;
	}

	.offer__title {
		font-size: 27px;
	}

	.offer__frontend {
		font-size: 23px;
		margin-bottom: 50px;
	}

	.about-title {
		margin-bottom: 45px;
		font-size: 25px;
	}

	.skills-title {
		font-size: 25px;
	}

	.projects-title {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
	}
}

